<!DOCTYPE html>
<html>
    <head>
    <title>Lista de Tareas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='comafi.ico') }}">
    </head>
    <body class ="lista">
        
        <h2 class="inicio">Agregar Tareas:</h2>

        <form action="/add" method="POST">
            <input type="text" name="title" placeholder="Nueva tarea" required>
            <input type="submit" value="Agregar">
        </form>
        
        <h2 class="inicio">Tareas Activas:</h2>
        <ul>
            {% for task in tasks %}
            <li>
                {{ task.title }}
                <a class="eliminar-boton" href="/delete/{{ task.id }}">Eliminar</a>
            </li>
            {% endfor %}
        </ul>

        
        <details><summary class="eliminar">Desplegar tareas eliminadas X</summary>
        <ul>
            {% for deleted_task in deleted_tasks %}
            <li>
                {{ deleted_task.title }}
                <form action="/restore/{{ deleted_task.id }}" method="POST">
                <button type="submit">Restaurar</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        </details>
    </body>
</html>
